.my-header {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.1rem;
}

mat-sidenav-container {
    height: 80vh;
    background-color: #999;
    border-bottom: solid 0.1rem;

    mat-sidenav-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    mat-sidenav {
        padding: 1rem;
        border-radius: 1rem 0 0 8rem;
    }
}

footer {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}