<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-error *ngIf="loginError!=null" class="error">
        {{loginError}}
    </mat-error>
    <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="username" required>
        <mat-error *ngIf="loginForm.get('username')!.hasError('required')">
            Username is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="password">Enter your password</mat-label>
        <input id="password" formControlName="password" matInput type="password">
        <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
            Password is required.
        </mat-error>
    </mat-form-field>
    
    <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>